paths:
    migrations: %%PHINX_CONFIG_DIR%%/migrations

environments:
    default_migration_table: phinxlog
    default_database: %CFP_ENV%
    %CFP_ENV%:
        adapter: mysql
        host: localhost
        name: cfp
        user: root
        pass: ''
